<div class="container text-start p-3">
  <div class="d-flex justify-content-between">
    <h2>Change password</h2>
    <i class="fa-solid fa-xmark fs-4" matDialogClose></i>
  </div>
  <form [formGroup]="ChangePasswordForm">
    <div class="form-group">
      <input
        formControlName="currntPassword"
        type="text"
        class="form-control"
        placeholder="Enter Current Password"
      />
      <strong
        class="text-danger"
        *ngIf="
          ChangePasswordForm.get('currntPassword').invalid &&
          ChangePasswordForm.get('currntPassword').touched
        "
      >
        *currntPassword required</strong
      >
      <strong class="text-danger" *ngIf="PaswordisWrond">{{
        PaswordisWrond
      }}</strong>
    </div>
    <div class="form-group">
      <label for="input1">New password </label>
      <input
        formControlName="newPassword"
        type="text"
        class="form-control"
        placeholder="Enter new Password"
      />
      <strong
        class="text-danger"
        *ngIf="
          ChangePasswordForm.get('newPassword').invalid &&
          ChangePasswordForm.get('newPassword').touched
        "
      >
        *newPassword required</strong
      >
    </div>
    <div class="form-group">
      <label for="input1">Confirm new password </label>
      <input
        formControlName="confirmPassword"
        type="text"
        class="form-control"
        placeholder="Re-type new Password"
      />
      <strong
        class="text-danger"
        *ngIf="
          ChangePasswordForm.get('confirmPassword').invalid &&
          ChangePasswordForm.get('confirmPassword').touched
        "
      >
        *ConfirmPassword required</strong
      >
    </div>
    <div class="d-flex justify-content-end">
      <div
        class="p-2 pointer bg-dark text-light h3 fw-bold mt-3 d-flex justify-content-center align-items-center"
        style="height: 45px"
      >
        <span class="w-100 text-nowrap fs-6" (click)="Changepassword()"
          >Change password</span
        >
      </div>
    </div>
  </form>
</div>
