.bar {
  height: 5px;
  width: 60%;
  background-color: rgb(239, 200, 200);
  margin-right: 20px;
  position: relative;
}
.PercentageCourse {
  position: absolute;
  content: "";
  height: 100%;
  top: 0;
  left: 0;

  background-color: blue;
}
.onhover {
  position: relative;
}
.land {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.onhover:hover .ops,
.onhover:hover .PercentageCourse {
  opacity: 0.25;
  background-color: transparent;
}

.txt {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: blue;
  left: 17%;

  text-align: center;
}
.onhover:hover .txt {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 770px) {
  .cont {
    display: none !important;
  }
}
.Wrap-if-med {
}
@media (max-width: 540px) {
  .Wrap-if-med {
    text-wrap: wrap !important;
  }
}
