<div>
  <app-courseheader></app-courseheader>
  <div class="row gap-2 container-fluid">
    <app-courseplaning class="col-12 col-md-3"></app-courseplaning>
    <div [ngSwitch]="SelectedComponent" class="col-12 col-md-7 myborder mt-3">
      <app-courserequirment *ngSwitchCase="1"></app-courserequirment>
      <app-curriculm *ngSwitchCase="2"></app-curriculm>
      <app-landingpage *ngSwitchCase="3"></app-landingpage>
      <app-pricing *ngSwitchCase="4"></app-pricing>
      <app-course-message *ngSwitchCase="5"></app-course-message>
    </div>
  </div>
</div>
