<div>
  <div class="container mycontainer">
    <div *ngFor="let Course of Courses" class="pointer text-start">
      <mat-card>
        <img
          style="height: 180px; width: 100%"
          mat-card-xl-image
          [src]="Course.courseImage"
          alt="Course Image"
        />
        <div style="height: 40px">
          <h5 style="font-size: 13px" class="fw-bolder text-start ms-2">
            {{ Course.title }}
          </h5>
        </div>
        <p class="text-start ms-2">
          {{ Course.intrcutorName }}
        </p>

        <strong class="ms-2">{{ Course.price }}$</strong>
      </mat-card>
    </div>
  </div>
  <div *ngIf="Courses.length > 10">
    <mat-paginator
      [length]="TotalCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="[30, 35, 40, 45]"
      (page)="onPageChange($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
