<div class="container mt-5">
  <h1 class="fw-bolder fs-1 text-start mb-3">Profile & settings</h1>

  <mat-tab-group
    animationDuration="0ms"
    [disableRipple]="true"
    mat-align-tabs="start"
    mat-stretch-tabs="false"
  >
    <mat-tab label="Udemy profile">
      <app-udemyprofile></app-udemyprofile>
    </mat-tab>
    <mat-tab label="Profile picture">
      <app-profilepicture></app-profilepicture>
    </mat-tab>
    <mat-tab label="Account security">
      <app-accountsecurity></app-accountsecurity>
    </mat-tab>
  </mat-tab-group>
</div>
