<div class="mt-5">
  <div
    class="d-flex flex-column justify-content-start text-start ms-1 ms-md-3 ms-lg-5"
  >
    <div class="fw-bold mb-1 ms-1">Plan your course</div>
    <div
      class="d-flex align-items-center gap-2 myhover p-2 rounde rounded-1 pointer"
      (click)="RedirectTo(1)"
    >
      <i class="fa-regular fa-circle"></i>
      <div>Intended learners</div>
    </div>
  </div>

  <div
    class="d-flex flex-column justify-content-start text-start ms-1 ms-md-3 ms-lg-5"
  >
    <div class="fw-bold mb-1 ms-1">Create your content</div>
    <div
      class="d-flex align-items-center gap-2 myhover p-2 rounde rounded-1 pointer"
      (click)="RedirectTo(2)"
    >
      <i class="fa-regular fa-circle"></i>
      <div>Curriculum</div>
    </div>
  </div>
  <div
    class="d-flex flex-column justify-content-start text-start ms-1 ms-md-3 ms-lg-5"
  >
    <div class="fw-bold mb-1 ms-1">Publish your course</div>
    <div
      class="d-flex align-items-center gap-2 myhover p-2 rounde rounded-1 pointer"
      (click)="RedirectTo(3)"
    >
      <i class="fa-regular fa-circle"></i>
      <div>Course landing page</div>
    </div>
    <div
      class="d-flex align-items-center gap-2 myhover p-2 rounde rounded-1 pointer"
      (click)="RedirectTo(4)"
    >
      <i class="fa-regular fa-circle"></i>
      <div>Pricing</div>
    </div>
    <div
      class="d-flex align-items-center gap-2 myhover p-2 rounde rounded-1 pointer"
      (click)="RedirectTo(5)"
    >
      <i class="fa-regular fa-circle"></i>
      <div>Course messages</div>
    </div>
    <div>
      <button
        class="btn btn-primary text-nowrap rounded rounded-0"
        (click)="TryPublishCourse()"
      >
        Submit for review
      </button>
    </div>
  </div>
</div>
