<div class="container p-3 position-relative">
  <h1 class="fw-bold">Why can't I submit for review?</h1>
  <p>
    You're almost ready to submit your course. Here are a few more items you
    need.
  </p>
  <h3 class="fw-bold">
    On your
    <strong class="text-decoration-underline text-primary fw-bold"
      >Profile page account</strong
    >
    page, you must
  </h3>
  <ul>
    <li>Specify your Name</li>
    <li>Specify your Headline</li>
    <li>Specify your linkedIn account</li>
    <li>Uplaud your Personal photo</li>
  </ul>
  <h3 class="fw-bold">
    On the
    <strong class="text-decoration-underline text-primary fw-bold"
      >Intended learners</strong
    >
    page, you must
  </h3>
  <ul>
    <li>Specify any course requirements or prerequisites</li>
    <li>Specify at least 3 of your course’s learning objectives</li>
    <li>Specify who this course if for</li>
  </ul>
  <h3 class="fw-bold">
    On the
    <strong class="text-decoration-underline text-primary fw-bold"
      >Curriculum
    </strong>
    page, you must
  </h3>
  <ul>
    <li>Have at least 30 minutes of video content</li>
    <li>Have at least 5 lectures</li>
    <li>title of Section can not be empty</li>
    <li>any lecture is empty of video</li>
  </ul>

  <h3 class="fw-bold">
    On the
    <strong class="text-decoration-underline text-primary fw-bold">
      Course landing page
    </strong>
    page, you must
  </h3>
  <ul>
    <li>Have a course title</li>
    <li>Have a course subtitle</li>
    <li>Select the languge of your course</li>
    <li>Select the Course image</li>
    <li>Select the Course promotional video</li>
  </ul>

  <div
    matDialogClose
    class="position-absolute"
    style="position: absolute; top: 10px; right: 10px"
  >
    <i class="fa-solid fa-xmark fs-3"></i>
  </div>
</div>
